* {                     /* ブラウザ全体の余白を消す */
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  height: 100vh;
  position: relative;      /* body要素にflexboxを指定する */
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background: linear-gradient(to top left, #f76060, #ebd407);    /* body要素の背景をグラデーションにする */
}

.show-modal {
  font-size: 20px;      /* modalを開くボタン */
  font-weight: 600;
  padding: 10px 30px;
  border: none;
  margin-top: 100px;
  background-color: #fff;
  color: #444;
  border-radius: 20px;
  cursor: pointer;
}

.close-modal {
  position: absolute;              /* modalを閉じるボタン */
  top: 4px;
  right: 22px;
  font-size: 40px;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}

p {
  font-size: 20px;
}

.hidden {
  display: none;            /* hiddenクラスが付与されている場合は表示させないようにする */
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  color: rgb(255, 0, 0);
  background-color: white;
  padding: 6rem;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);   /* modalに影を作る */
  z-index: 10;           /* z-indexでmodalを一番上に位置させる */
}

.overlay {
  position: absolute; /* overlayの絶対位置を左上を起点にし幅と高さを100%にする */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);    
  backdrop-filter: blur(3px); /* 一番下のbody領域をぼやかす */
  z-index: 5; /* z-indexの数字を0と10の間の数字にし、bodyとmodalの真ん中に位置させる */
}
